# Google Sheets API Credentials (Required for Scholarship Applications)
GOOGLE_PROJECT_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID=

# Formspree Endpoints
NEXT_PUBLIC_FORMSPREE_VOLUNTEER_ENDPOINT=
NEXT_PUBLIC_FORMSPREE_CONTACT_ENDPOINT=

# MASP Scholarship Admin WhatsApp Number (Format e.g. 923072021882)
NEXT_PUBLIC_MASP_WHATSAPP_NUMBER=


